* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.screen {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: dotted 10px rgb(150, 53, 72);
}

.text {
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;
}

.message {
    display: flex;
    max-width: 600px;
    min-height: 50px;
    font-style: italic;
    font-weight: 550;
    font-size: 1.5rem;
}

.svg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4em;
}

svg {
    display: flex;
    margin-top: 3rem;
    padding: 10px;
}

svg:hover {
    transform: scale(1.2);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}

.sundsgarden {
    max-width: 800px;
    min-height: 100px;
    font-style: bold;
    font-size: 3rem;
    animation: pulse-color 1000ms;
    animation-delay: 1sec;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.animate__fadeInBottomRight {
    --animate-duration: 2s;
}

@keyframes pulse-color {
    0% {
        color: blue;
      }
      50% {
        color: red;
      }
      100% {
        color: blue;
      }
}

.fa-envelope {
    color: rgb(39, 27, 44);
    margin-top: 0.2em;
    font-size: 10em;
}

.fa-envelope:hover {
    transform: scale(1.3);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
