* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.screen {
    height: 100vh;
    width: 100%;
    background-image: url(../images/background.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border: solid;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    border: dotted 10px rgb(150, 53, 72);
}

.text {
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;
}

.message {
    display: flex;
    max-width: 600px;
    min-height: 50px;
    font-style: italic;
    font-weight: 400;
    font-size: 1.5rem;
}

.svg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4em;
}
svg {
    display: flex;
    margin-top: 5rem;
    padding: 10px;
}

svg:hover {
    transform: scale(1.3);
    transition: all 0.5s ease-in-out;
}

.animate__fadeInBottomRight {
    --animate-duration: 2s;
    max-width: 800px;
    min-height: 100px;
    font-style: bold;
    font-size: 3rem;
}

@keyframes pulse-color {
    0% {
        transform: scale(1);
        color: blue;
      }
      50% {
        transform: scale(1.5);
        color: red;
      }
      100% {
        transform: scale(1);
        color: blue;
      }
}

.sundsgarden {
    animation: pulse-color 1000ms;
    animation-delay: 10sec;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;

}